:host {
  grid-area: todo-list;
  overflow: auto;
}

.header {
  padding: 1rem;
  background-color: cyan;
  border-radius: 0.5rem;
  position: sticky;
  top: 0;
}

.todo-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-y: auto;
}

.spacer {
  flex-grow: 1;
}